<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <link rel="stylesheet" href="/styles.css" >
        <link rel="icon" type="image/x-icon" href="bnb.png" />
    </head>
    <body>

      <nav>
      <div class="container centre nav-height">
        <div class="logo">
        <img class="flair" src="bnb.png" alt="Flair BnB logo">
          <h1>Welcome to Flair BnB</h1>
        </div>
        <div class="links">
          <% if session[:email].nil? %>
          <div class="login navlink"><p><a href="/login">Login</a></p></div>
          <% else %>
          <div class="bookings_by navlink"><p><a href="/bookings_by_me">Bookings by me</a></p></div>
          <div class="bookings_by navlink"><p><a href="/bookings_for_me">Bookings for me</a></p></div>
          <div class="logout navlink"><p><a href="/logout">logout</a></p></div>
          <div class="new_space navlink"><p><a href="/new_space">Create Space</a></p></div>
          <% end %>
        </div>
      </div>
      </nav>

      <div class="line"></div>

      <header>

      <div class="status">
      </div>

      <div>
        <p class="secret">Flair BnB was built with love, joy and mutual respect by Sidra, Matt, Natasha, Chris, Sunny and Pablo</p>
      </div>

        <% unless session[:email].nil? %>
          <h3>Explore homes for your next adventure, <%= session[:username] %>!</h3>
        <% end %>
        <div class="centre">
        <div class="container column">
        <form method="POST" action="/">
            <label>Available From </label><input class="text" type="date" name="available_from"/>
            <label class="space_left">Available To </label><input class="text" type="date" name="available_to"/>
            <input class="button" type="submit" name="Filter">
        </form>


          <div class="panels">
            <% @spaces.each do |space| %>

            <div class="space">
              

                <div class="container">
                
                  <img src="<%="/images/"+space.id.to_s+".png" %>" class="space-image" style = "width:15%; height:15%;border-radius: 20%;">
                  
                  <div class="space-text">
                    <h2><a href = "/spaces/<%= space.id %>"><%= space.name %></a></h2>
                    <p><%= space.description %></p>
                    <p>£<%= space.price %> per night</p>
                    <p>Available from <%= Date.parse(space.available_from).strftime("%d %b, %Y") %> to <%= Date.parse(space.available_to).strftime("%d %b, %Y") %></p>
                  </div>

                </div>

            </div>
            
            <% end %>
          </div>
        </div>
        </div>
      </header>

      <script src="script.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>