<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <link rel="stylesheet" href="/style.css" >
    </head>
        <p style="color: red;"><%= @msg %></p>
        <a href="/login">login</a><br>
        <a href="/logout">logout</a><br>
    <body>
        <h1>Welcome to Flair BnB</h1>
        <p><a href="/new_space">Create Space</a></p>
        <h1>Spaces</h1>
        <% @spaces.each do |space| %>
          <div class="space">
            <h2><a href = "/spaces/<%= space.id %>"><%= space.name %></a></h2>
            <p><%= space.description %></p>
            <p>£<%= space.price %></p>
            <p>Available from <%= space.available_from %> to <%= space.available_to %></p>
          </div>
        <% end %>
    </body>
</html>