<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB Spaces</title>
        <link rel="stylesheet" href="/styles.css" >
        <link rel="icon" type="image/x-icon" href="bnb.png" />
    </head>
    <body>
      <a href="/login">login</a><br>
      <a href="/logout">logout</a><br>

      <h1>Book a Space</h1>

      <div>
        <p class="secret">Flair BnB was built with love, joy and mutual respect by Sidra, Matt, Natasha, Chris, Sunny and Pablo</p>
      </div>

      <h1>Spaces</h1>
        <% @spaces.each do |space| %>
          <div class="space">
            <a href = "/spaces/<%= space.id %>"><h1><%= space.name %></h1></a>
            <p><%= space.description %></p>
            <p>£<%= space.price %></p>
            <p>Available from <%= space.available_from %> to <%= space.available_to %></p>
          </div>
        <% end %>

        <a href="/create">create</a><br>
    </body>
</html>
