<!DOCTYPE html>
<head>
  <title>MakersBnB</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="icon" type="image/x-icon" href="bnb.png" />
</head>

<body class="body">
  <nav>
      <div class="container centre nav-height">
      <div class="logo">
        <img class="flair" src="../bnb.png" alt="Flair BnB logo">
        <h1><%= @space.name %></h1>
      </div>
        <div class="links">
          <% if session[:email].nil? %>
          <div class="login navlink"><p><a href="/login">Login</a></p></div>
          <% else %>
          <div class="bookings_by navlink"><p><a href="/bookings_by_me">Bookings by me</a></p></div>
          <div class="bookings_by navlink"><p><a href="/bookings_for_me">Bookings for me</a></p></div>
          <div class="logout navlink"><p><a href="/logout">logout</a></p></div>
          <div class="new_space navlink"><p><a href="/new_space">Create Space</a></p></div>
          <% end %>
        </div>
      </div>
  </nav>
  <div>
        <p class="secret">Flair BnB was built with love, joy and mutual respect by Sidra, Matt, Natasha, Chris, Sunny and Pablo</p>
      </div>
  <div class="container column">
  <img src="<%="/images/"+@space.id.to_s+".png" %>" class="space-image" style = "width:25%; height:25%;border-radius: 20%;"><br>
  <p> <%= @space.description %></p>
  <p> Available Dates:</p> 
  <form method="POST" action="/spaces/:id">
    <select name="booking_date">
      <% @available_dates.each do |date| %> 
      <option><%= Date.parse(date).strftime("%d %b, %Y") %></option>
      <%  end %>
    </select>
    <input type="submit" value="Request to book">
    <input type = "hidden" name = "status" value = "pending" />
    <!-- NB Hard coded date, need to swap this out for the date functionality -->
    <% flash.each do |type, message| %>
    <div data-alert class="flash <%= type %> alert-box radius">
        <%= message %>
        <a href="" class="close">&times;</a>
    </div>
    <% end %>
  </form>
</div>
</body>
</html>